@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --color-dark: #2E3538;
  --color-dark-ligh: #394246;
  --color-gray: #494E50;
  --color-gray-light: #555B5E;
  --color-white: #fff;
  --color-white-dark: rgb(201, 201, 201);
  --color-brand: #1481B8;
  --color-brand-light: #3dace4;
  --color-text: #B6C2C9;
  --color-text-gray: #929FA5;
  --color-body: #2E3538;
  --color-social-link: #00bcd4;
}

:root[data-theme="light"] {
  --color-dark: #2E3538;
  --color-dark-ligh: #394246;
  --color-gray: #494E50;
  --color-gray-light: #555B5E;
  --color-white: #fff;
  --color-white-dark: rgb(201, 201, 201);
  --color-brand: #1481B8;
  --color-brand-light: #3dace4;
  --color-text: #B6C2C9;
  --color-text-gray: #929FA5;
  --color-body: #2E3538;
  --color-social-link: #00bcd4;
}

hr {
  border-color: var(--color-dark-ligh);
}

body {
  font-family: monospace;
  font-family: 'Montserrat', monospace, sans-serif;
  font-size: 15px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--color-body);
  color: var(--color-text);
  background-image: url(../img/retrowave-bg.jpg);
  backdrop-filter: brightness(0.15);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 992px) {
  body {
    min-height: auto;
  }
}

.wrap-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
}

@media screen and (max-width: 992px) {
  .wrap-section {
    padding-top: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .container {
    height: inherit;
  }
}

.text__wrap {
  margin-bottom: 20px;
}

.text__start {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .text__start {
    font-size: 16px;
  }
}

.text__text {
  font-size: 16px;
  line-height: 1.4;
}

.text__text p {
  margin: 5px 0;
}

.text__text p a {
  color: var(--color-brand-light);
  font-size: 16px;
}

.text__text p a:hover {
  color: var(--color-brand);
}

.text__text p a[class="src"] {
  color: var(--color-text);
}

@media screen and (max-width: 576px) {
  .text__text, .text__text * {
    font-size: 14px !important;
  }
}

.avatar__wrap {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .avatar__wrap {
    width: 160px;
    height: 160px;
  }
}

.avatar__image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 43px 10px #00000070;
  border: 5px solid;
  border-color: var(--color-brand);
  box-sizing: border-box;
  transform: translatey(0px);
  animation: float-avatar 6s ease-in-out infinite;
}

@keyframes float-avatar {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.aboutme__info {
  margin-top: 20px;
}

.aboutme__info-text {
  margin-top: 20px;
  font-family: 'Jura', sans-serif;
}

.aboutme__name {
  font-family: 'Jura', sans-serif;
  color: var(--color-text);
  font-weight: 500;
  font-size: 26px;
}

.aboutme__text {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.aboutme__text:last-child {
  margin-bottom: 0;
}

.aboutme__text-title {
  color: var(--color-text);
  margin-right: 5px;
}

.aboutme__text-content {
  color: var(--color-text-gray);
}

.aboutme__social {
  margin-top: 20px;
}

.aboutme__social-link {
  text-decoration: none;
  color: var(--color-social-link);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: max-content;
}

.aboutme__social-link:last-child {
  margin-bottom: 0;
}

.aboutme__social-link:hover .aboutme__social-icon {
  transform: rotate(360deg);
}

.aboutme__social-icon {
  width: 24px;
  height: 24px;
  transition: transform .5s;
  box-sizing: border-box;
}

.aboutme__social-icon--github {
  border-radius: 50%;
  padding: 1px;
  background: #fff;
}

.aboutme__social-icon--vk {
  border-radius: 50%;
}

.aboutme__social-name {
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .aboutme__info {
    text-align: center;
    margin-bottom: 40px;
  }
  .aboutme__social {
    display: flex;
  }
  .aboutme__social-link {
    margin: 0 10px 0 0;
  }
  .aboutme__social-link:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .aboutme__info {
    margin-bottom: 20px;
  }
  .aboutme__social {
    justify-content: center;
  }
  .aboutme__social-icon {
    width: 28px;
    height: 28px;
  }
  .aboutme__social-name {
    display: none;
  }
}

.examples__works-wrap {
  margin-top: 20px;
}

.examples__works-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.examples__work-item {
  box-sizing: border-box;
  position: relative;
  max-width: 49%;
  width: 100%;
  height: 150px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 3px #00000070;
}

.examples__work-image {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.examples__title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  width: max-content;
  background-color: var(--color-brand);
  border-bottom-right-radius: inherit;
  color: var(--color-white);
}

.examples__links {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-gray-light);
}

.examples__link {
  display: inline-block;
  color: var(--color-white);
  text-decoration: none;
  background: var(--color-dark);
  padding: 3px 6px;
  border-radius: 2px;
  color: var(--color-white);
}

.examples__link--view {
  float: left;
}

.examples__link--src {
  float: right;
}
